@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');
@charset "UTF-8";
/* CSS Document */ 

//$brandingBackColor: #004990;
//$brandingTextColor: #ff6347;
$bannerTextColor: #ffffff;
$erTextColor: #ff6347;
$erBackColor: #000000;

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    text-rendering: optimizeLegibility;
}

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	font: 100%/1.5 Open Sans, sans-serif;
}

/* Div layer for the entire banner. */
#container_ad {
    -ms-transform-origin:0% 0%; /* IE 9 */
    -webkit-transform-origin:0% 0%; /* Safari and Chrome */
    -moz-transform-origin:0% 0%; /* Firefox */
    -o-transform-origin:0% 0%; /* Opera */

	position: absolute;
    // width and height are 2px less than the expected 
    // size to accommodate the 1px border on the ad
	width: 298px;
	height: 248px;
    overflow: hidden;
	border:1px solid #666666;
	top: 0px;
	left: 0px;
	margin: auto;
   
}

#content_ad {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: transparent; 
  a{
    text-decoration: none;
  }
  .header{
    width: 286px;
    height: 118px;    
    padding: 6px 6px 0 6px;
    background-color: $brandingBackColor;
    .logo-wrapper{
      width: 286px;
      height: 68px;
      .logo{      
        max-width: 286px;            
        max-height: 68px;
        display: block;    
        margin: 0 auto;
        &:hover{
          cursor: pointer;
        }      
      }
    }
    .title{
      text-align: center;
      span{
        display: inline-block;
        vertical-align: top;        
        line-height: 20px;
        font-size: 20px;
        font-weight: 700;
        margin-top: 14px;
        text-transform: uppercase;
        color: $brandingTextColor;        
      }
      span.er{                
        line-height: 36px;
        font-size: 36px;
        margin-top: 5px;
        font-weight: 700;
        color: $brandingTextColor;
      }
    }

  }
  .er-wait-time{
    background: $erBackColor;
    width: 286px;
    height: 118px;    
    padding: 0 6px 6px 6px;
    .er-wait-triangle{
      margin-left: 70px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 18px;
      border-right-width: 18px;
      border-top: 18px solid $brandingBackColor;
    }
    .time-display{
      text-align: center;
      height: 100px;
      .time{
        font-family: 'News Cycle', sans-serif;
        font-weight: bold;
        display: inline-block;
        vertical-align: top;        
        font-size: 72px;
        line-height: 72px;        
        color: $erTextColor;
      }
      .mins{
        display: inline-block;
        vertical-align: top;
        margin-top: 25px;        
        margin-left: 5px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: $bannerTextColor;
      }
      .published{
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        a{
          color: $bannerTextColor;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &.feedloading{
        .mins,
        .published{
          display: none;
        }
      }
    }    
  }
  
}


.loading{
  display: none;
}

.feedloading{



  .loading{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
  }
  .loading span {

      background: transparent;
      border-radius: 50%;
      box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
      display: inline-block;
      height: 5px;
      width:  5px;
      margin-left: 3px;
      margin-bottom: 5px;

        -webkit-animation:  loading_dots 0.8s linear infinite;
        -moz-animation:     loading_dots 0.8s linear infinite;
        -ms-animation:      loading_dots 0.8s linear infinite;
      animation:            loading_dots 0.8s linear infinite;
  }

  .loading :nth-child(1) {
    -webkit-animation-delay:  0.37s;
          -moz-animation-delay:     0.37s;
          -ms-animation-delay:      0.37s;
        animation-delay:            0.37s;
  }

  .loading :nth-child(2) {
            -webkit-animation-delay:  0.5s;
          -moz-animation-delay:     0.5s;
          -ms-animation-delay:      0.5s;
        animation-delay:            0.5s;
  }

  .loading :nth-child(3) {
      -webkit-animation-delay:  0.8s;
          -moz-animation-delay:     0.8s;
          -ms-animation-delay:      0.8s;
        animation-delay:            0.8s;
  }
}

/*
  Define the animation for every efing vendor prefix
*/
  @-webkit-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }
  
  @-moz-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }
  @-ms-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #E4E4E4;
    }
    100% {
      background: transparent;
    }
  }




:focus {outline:none;}
::-moz-focus-inner {border:0;}